/* App Dimensions */
$width-page: 64rem;
$height-header: 6.25rem;
$height-menubar: 2rem;
$height-banner: 25rem;
/* Color Palette */
$color-bg-dark-grey: #2B2B2B;
$color-bg-light-grey: #333333;
$color-contrast-white: #cacaca;
$color-contrast-grey: #999999;
$color-almost-black: #222222;
$color-primary-green: #40AC46;
$color-faded-green: #EDF5EE;
$color-primary-blue: #4790C1;
/* Font Choices */
@mixin mx-font-h-caps {
    font-style: normal;
    font-variant: small-caps;
    font-weight: 700; /* bold => 700 */
    font-family: Verdana, sans-serif;
}

@mixin mx-font-banner-title {
    font-style: normal;
    font-variant: normal;
    font-weight: 700;
    font-family: Verdana, sans-serif;
}

@mixin mx-font-banner-content {
    font-style: normal;
    font-variant: normal;
    font-weight: 400;
    font-family: Verdana, sans-serif;
}

@mixin mx-font-ui {
    font-style: normal;
    font-variant: normal;
    font-weight: 400; /* normal => 400 */
    font-family: Helvetica, Arial, system-ui, sans-serif;
}

@mixin mx-font-content {
    font-style: normal;
    font-variant: normal;
    font-weight: 300; /* light => 300 */
    font-family: Helvetica, Arial, sans-serif;
}

@mixin mx-font-content-alt {
    font-style: normal;
    font-variant: normal;
    font-weight: 300;
    font-family: Tahoma, sans-serif;
}

@mixin mx-font-h {
    font-style: normal;
    font-variant: normal;
    font-weight: 700;
    font-family: Verdana, sans-serif;
}

/* Desktop Styles */
html {
    font-size: 1em;
    background-color: $color-primary-green;
    margin: 0;
    padding: 0;
}

body {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
}

h1 {
    color: $color-primary-green;
    font-size: 2.5rem;
    margin: 2rem 1rem 1rem 1rem;
    padding: 0;
    @include mx-font-h;
}

h2 {
    color: $color-almost-black;
    font-size: 2.5rem;
    margin: 2rem 1rem .5rem 1rem;
    border-bottom: .125rem solid $color-bg-light-grey;
    padding: 0 0 .125rem 0;
    @include mx-font-h;
}

h3 {
    color: $color-bg-light-grey;
    font-size: 1.875rem;
    margin: 1.5rem 1rem 1rem 1rem;
    padding: 0;
    @include mx-font-h;
}

h4 {
    margin: 0;
    padding: 0;
}

h5 {
    color: $color-bg-dark-grey;
    margin: .5rem 1rem 1rem 1rem; 
    padding: 0;
    font-size: 1.5rem;
    font-weight: 300;
    line-height: 2rem;
    @include mx-font-content;
}

h6 {
    margin: 0;
    padding: 0;
    color: $color-bg-light-grey;
    font-size: 1.25rem;
    @include mx-font-content;
}

p {
    color: $color-bg-dark-grey;
    font-size: 1.25rem;
    margin: .5rem 1rem;
}

#app {
    background: url("./assets/page-background.png");
    background-size: cover;
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
}

#site-page {
    width: 100%;
    max-width: $width-page;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
}

header {
    height: $height-header;
    width: 100%;
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    background-color: $color-bg-dark-grey;

    > img {
    }
}

.menu-bar {
    height: $height-menubar;
    width: 100%;
    background-color: $color-bg-light-grey;
    @include mx-font-ui;

    ul {
        height: inherit;
        width: inherit;
        margin: 0;
        padding: 0;
        list-style-type: none;
        display: flex;
        flex-flow: row nowrap;
        justify-content: space-around;
        align-items: center;
    }
    li {
        flex: 1 1 auto;
        display: flex;
        flex-flow: column nowrap;
        padding: 0;
        margin: 0;
        height: inherit;
    }
    a {
        text-align: center;
        padding: .5em 0em;
        height: 100%;
        width: 100%;
        text-decoration: none;
        color: white;
    }
    a:hover {
        box-sizing: border-box;
        border-bottom: .125rem solid $color-primary-green;
    }
}

#main-banner {
    width: 100%;
    height: $height-banner;
    background-image: url("./assets/banner-racehorse.png");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: scroll;
    position: relative;
}

#banner-message {
    display: flex;
    flex-flow: column nowrap;
    align-items: flex-end;
    position: absolute;
    right: 1rem;
    top: 0;
    bottom: 0;
    width: 30rem;
    color: white;

    h1 {
        color: white;
        display: flex;
        flex-flow: column nowrap;
        align-items: flex-end;
        margin: 0em;
        padding: 0em;
        @include mx-font-banner-title;
        font-size: 3em;
        text-shadow: 2px 2px 4px black;
    }
    #title-a{
    }
    #title-b{
    }
    p {
        color: white;
        @include mx-font-banner-content;
        text-align: right;
        font-size: 1.2rem;
        text-shadow: 2px 2px 4px black;
        width: 17em;
    }
    a {
        text-decoration: none;
    }
}

#content {
    background-color: white;
    display: flex;
    flex-flow: column nowrap;
    @include mx-font-content;
}

#tagline {
    background-color: $color-faded-green;
    display: flex;
    flex-flow: column nowrap;
    padding: 0rem 1rem;
}

#services-summary {
    display: flex;
    flex-flow: row nowrap;
    align-items: flex-start;
    justify-content: space-around;
    padding: 0rem 1rem;

    .summary-item {
        flex: 1 1 auto;
        display: flex;
        flex-flow: column nowrap;
        align-items: center;
        width: 50%;
        padding: 0rem 1.5rem;

        h3 {
            text-align: center;
        }
        p {
            text-align: justify;
            min-height: 10rem;
        }
        a {
            font-size: 2rem;
            margin: .5rem 0 1rem 0;
        }
    }
}

#people {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;

    .bio-showcase {
        display: flex;
        flex-flow: row nowrap;
        margin: 1.25rem 0rem;
    }
}

#contact {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;

    form {
        display: flex;
        flex-flow: row nowrap;
        justify-content: flex-start;
        align-items: center;
        margin: 2em;
    }
    button {
        padding: 0 .125rem;
        margin: 0 .25rem;
        font-size: 1.25rem;
        border-width: 0;
        /*border-bottom: .375rem solid #dd0426;*/
        @include mx-font-h;
        color: $color-almost-black;

        span::after {
            color: #dd0426;
            content: ">";
            margin: 0 0 0 .25rem;
        }
    }
    input {
        height: 1.5rem;
        border-radius: .25rem;
        border: 1px solid rgba(0,0,0,.4);
        box-shadow: 
            0 2px 2px  rgba(0,0,0,.14),
            0 3px 1px rgba(0,0,0,.2),
            0 1px 5px rgba(0,0,0,.12);
        color: $color-bg-light-grey;
        width: 20rem;
        @include mx-font-ui;
        font-size: 1rem;
    }
}

footer {
    display: flex;
    flex-flow: row nowrap;
    margin: 0;
    padding: 0;
}

.footer-listing {
    list-style: none;

    ul {
        margin: 0;
        padding: 0;
    }
    li {
        margin: .5rem 0;
        padding: 0;
    }
    h1 {
        color: $color-contrast-white;
        font-size: 1.125rem;
        margin: 0;
        padding: 0;
        @include mx-font-ui;
    }
    a {
        color: $color-contrast-grey;
        text-decoration: none;
        font-size: .875rem;
        @include mx-font-content;
    }
}

.col-4 {
    width: 25%;
}

.bio {
    display: flex;
    flex-flow: row nowrap;
    margin: 0em 1rem;

    img {
        object-fit: contain;
        margin: 0rem 1rem;
    }
    div {
        display: flex;
        flex-flow: column nowrap;
    }
    h1 {
        font-size: 1.125rem;
        color: $color-bg-light-grey;
        margin: 0;
        padding: 0;
    }
    h2 {
        font-size: 1rem; 
        color: $color-bg-light-grey;
        margin: 0;
        padding: 0;
        @include mx-font-content;
    }
    p {
        font-size: 1rem;
        color: $color-bg-light-grey;
        margin: .5rem 0rem;
        padding: 0;
        @include mx-font-content-alt;
    }
    a {
        font-size: 1rem;
        color: blue;
        @include mx-font-content-alt;
    }
}

.bio-ltr {
    text-align: left;

    img {
        order: 0;
    }
}

.bio-rtl {
    text-align: right;

    img {
        order: 10;
    }
}

.picture-laurent {
}

.picture-kathleen {
}

.laurent {
}

.kathleen {
}

a.link-more {
    text-decoration: none;
    color: $color-bg-light-grey;
    border-bottom: .5rem solid $color-primary-blue;
    @include mx-font-h;

    span::before {
        color: $color-primary-blue;
        content: "+";
        margin: 0 .5rem 0 0;
    }
}

a.link-action {
    text-decoration: none;
    color: $color-faded-green;
    background-color: $color-primary-blue;
    padding: .5rem 1rem;
    border-radius: .25rem;
    transition: all .25s ease-out;
    text-shadow:
        0 2px 2px  rgba(0,0,0,.14),
        0 3px 1px rgba(0,0,0,.2),
        0 1px 5px rgba(0,0,0,.12);
    box-shadow: 
        0 2px 2px rgba(0,0,0,.14),
        0 3px 1px rgba(0,0,0,.2),
        0 1px 5px rgba(0,0,0,.12);
    @include mx-font-ui;

    &:hover {
        box-shadow:
        0 2px 4px rgba(0,0,0,.35),
        0 3px 4px rgba(0,0,0,.4),
        0 1px 8px rgba(0,0,0,.35);
    }
}


/*
#services-summary {
    display: flex;
    flex-flow: column nowrap;
    background-color: white;

    h1 {
        color: white;
        margin: 1em 0 0 1em;
        text-shadow: -1px 2px 5px black;
    }
    h2 {
        color: white;
        text-shadow: -1px 2px 5px black;
    }
    p {
        color: white;
        font-family: Tahoma;
        font-size: 1em;
        margin: 1em;
        max-width: 60em;
        align-self: center;
    }
    #item-container {
        display: flex;
        flex-flow: row nowrap;
    }
    .summary-item {
        padding: 0em 1em;
    }
}

#section-divider-start {
    height: 10px;
    background: linear-gradient($color-dark-grey, white);
}

#section-divider-end {
    height: 10px;
    background: linear-gradient(black, #6BF178);
}

#action-items {
    display: flex;
    flex-flow: row nowrap;
    background-color: #6BF178;

    .action-item {
        padding: 1em 1em;
        flex: 1 1 50%;
        display: flex;
        flex-flow: column nowrap;
        align-items: center;

        h1 {
            font-size: 2em;
            text-align: center;
        }
    }
    #services-action {
        h1 {
        }
        h2 {
        }
        a {
        }
    }
    #discuss-action {
        h1 {
        }
        .bio{
            h1 {
                font-size: 1.5em;
            }
            p {
            }
            a {
            }
        }
    }
}
*

#site-footer {
    display: flex;
    flex-flow: row nowrap;
    background-color: $color-dark-grey;

    > div {
        padding: 1em;
        display: flex;
        flex-flow: column nowrap;
        width: 10em;
        align-items: center;

        > a {
            text-decoration: none;
            color: white;
        }
        > img {
            width: 10em;
        }
    }
    > ul {
        list-style: none;
        margin: 0;
        padding: 1em;

        h1 {
            margin: 0;
            padding: 0;
            color: $color-light-grey;
        }
        a {
            color: $color-light-grey;
            text-decoration: none;
        }
    }
}
*/
